<html>
  <head>
  </head>
  <body>
    <table>
      <thead>
        <th>title</th>
        <th>cntent</th>
      </thead>
      <tbody>
        <% for(let i = 0; contents.length > i; i++) { %>
          <tr>
            <td><%= contents[i]["title"] %></td>
            <td><%= contents[i]["content"] %></td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </body>
</html>
